body {
  margin: 0;
  padding: 0;
}

.header{
     width: 100%;
  max-width: 1000px;  
  margin: 0 auto;   
  /* padding: 0; */
     background-color: aqua;
  
    height: 45px;
    padding: 0 50px 0 50px;
    display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: center; 
       width: 100%;
  /* max-width: 100%;   optional but recommended */     /* centers content */
}

.real{
    font-size: 30px;
    font-weight: bold;
}
.text{
padding-top: 5px;
}